doctype html
html(lang="ko")

  head
    link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    title #{pageTitle} | Wetube

  body
    header
      if fakeUser && fakeUser.loggedIn
        small Hello #{fakeUser.username}
      nav
        ul
          li
            a(href='/videos/upload') Upload Video
          li
            if fakeUser && fakeUser.loggedIn
              a(href='/logout') Logout
            else 
              a(href='/login') Login
      h1=pageTitle
    main 
      block content
  include partials/footer