extends layouts/default

block content
  form(method="POST")
    input(name="title", placeholder="Title.", type="text", value=video.title, maxlength=80, required)
    input(name="description", placeholder="Description.", type="text", value=video.description, minlength=20, required)
    input(name="hashtags", placeholder="Hashtags, seperated by comma.", value=video.hashtags.join(','), type="text")
    input(type="submit", value="Save")