extends base.pug

block content
  h5 Update Video
  form(method="POST")
    input(name="title" placeholder="Title", required, type="text" minlength="5" maxlength="30" value=video.title)
    input(name="description" placeholder="Description", required, type="text", minlength="20" maxlength="140" value=video.description)
    input(name="hashtags" placeholder="Hashtags, seperated by comma", required, type="text" value=video.hashtags.join())
    input(value="Save", type="submit")